langchain
langchain-core
langchain-community
langchain-huggingface

faiss-cpu
sentence-transformers
transformers
torch

pypdf
python-docx
unstructured

numpy
pandas

python-dotenv
tqdm
huggingface-hub

streamlit